<h1><center>List of blogs</center></h1>


 <table id="articles" class="display responsive no-wrap">
  <div id='delete_blog'>
    <%= render 'index' %>
  </div>
</table>
<%= link_to 'New Blog', new_article_path %>